body {
  background-color: black;
  margin: 0;
  overflow: hidden;
}
.left,
.right {
  width: 100%;
  height: 100vh;
}

.col {
  padding: 0;
}
#col1 {
  position: relative;
  width: 50%;
  height: 100%;
}
#col1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  mix-blend-mode: screen;
}
.left > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.row {
  --bs-gutter-x: 0;
}
.right {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, "Times New Roman", Times, serif;
}

.error {
  color: rgb(215, 71, 71);
}

.container {
  padding: 0;
}

.container .row {
  justify-content: center;
}

.offset-sm-1 {
  margin-left: 0;
  --bs-gutter-x: 0;
}

.offset-sm-1 h3 {
  padding-top: 5px;
  font-size: 36px;
}
.offset-sm-1 hr {
  color: rgb(215, 71, 71);
  height: 8px;
  opacity: 1;
  margin-top: 0;
}

.title-header {
  width: 50%;
}
.offset-sm-1 h5 {
  padding-top: 10px;
  font-size: 25px;
}

.offset-sm-1 input {
  font-size: 16px;
  color: rgb(163, 163, 163);
  border-radius: 10px;
}

.checkbox {
  display: flex;
  width: 100%;
  font-size: 25px;
}

input[type="checkbox"] {
  accent-color: rgb(215, 71, 71);
  background-color: rgb(215, 71, 71);
  width: 20px;
  margin-right: 5px;
}

.loginThirdParties {
  padding: 10px 0;
  font-size: 25px;
}

.socialIcons {
  display: flex;
  justify-content: space-evenly;
}

.socialIcons svg {
  color: rgb(255, 255, 255);
  width: 40px;
}

.socialIcons svg:hover {
  color: rgb(215, 71, 71);
  transition: 0.4s;
}

.button {
  padding: 10px 10px;
}

.input {
  margin-bottom: 10px;
}

.btn-secondary {
  background-color: rgb(215, 71, 71);
  font-size: 25px;
  border-radius: 10px;
  border-color: transparent;
}

.btn-secondary:hover {
  background-color: rgb(133, 40, 40);
  border-color: transparent;
}

.link {
  text-decoration: none;
  font-size: 25px;
  color: rgb(215, 71, 71);
  margin-top: 5%;
}

.link:hover {
  text-decoration: underline;
  color: rgb(215, 71, 71);
}

@media (max-width: 768px) {
  #col1 {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  #col2 {
    z-index: 1;
    width: 100%;
    height: 80%;
  }
  #col2 .row {
    width: 100%;
    background: rgba(37, 36, 36, 0.95);
    margin: 0;
  }
  .right {
    height: 100vh;
  }
  .col-sm-7 {
    width: 70%;
  }
  .offset-sm-1 {
    margin: 5%;
  }
  .offset-sm-1 h3 {
    font-size: 30px;
  }
  .offset-sm-1 h5,
  .checkbox,
  .loginThirdParties,
  .btn-secondary,
  .link {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  #col2 .row {
    width: 80%;
    margin: 10%;
  }
  .right {
    height: 100vh;
  }
  .col-sm-7 {
    width: 70%;
  }
  .offset-sm-1 h3 {
    font-size: 20px;
  }
  .offset-sm-1 h5,
  .checkbox,
  .loginThirdParties,
  .btn-secondary,
  .link {
    font-size: 15px;
  }
  .offset-sm-1 hr {
    height: 5px;
  }
  .offset-sm-1 .input {
    font-size: 12px;
  }
}
